*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    span{
        font-family: 'IBM Plex Mono', monospace;
        color: #E4232D; 
        text-shadow: 2px 5px black;
    }

h1{
    top:0px;
       position: absolute;
       color: white;
       font-family: 'IBM Plex Mono', monospace;
       text-shadow: 2px 2px black;
       font-size: 50px;
   }

   body{
       background-color: rgb(235, 235, 170);
       padding: 0;
       margin: 0;
       display: flex;
       justify-content: center;
       width:100vw;
       height: 100vh;
       align-items: center;
   }

   .btn{
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color:rgb(255, 255, 255);


   }


   .container{
       width: 800px;
       max-width:90%;
       border-radius: 10px;
       padding: 10px;
       background-color: azure;

   }

   .btn-grid{
    display: grid;
    /*  this will make the buttons go from stacked on top off on another to in columns of two */
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
   }

   .hide{
       display: none;
   }